@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --color-maritime-blue: #0f2b46;
  --color-ocean-blue: #1a4f7a;
  --color-light-gray: #f4f7f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Force light mode initially based on design */
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
